Repository lilong7676/mini_faas_worker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --resolve-plugins-relative-to ., prettier --write

gateway 支持托管 devtool front_end 静态文件
  .eslintrc
  .gitignore
  devtools/README.md
  gulpfile.js
  package.json
  packages/gateway/package.json
  packages/gateway/src/index.ts
  packages/website/components/devtools/index.tsx
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

docs: refactor devtool front_end docs
  devtools/README.md
Due: prettier --write

feat: add debugger service
  packages/common/src/utils.ts
  packages/debugger/package.json
  packages/debugger/src/index.ts
  packages/debugger/src/manager/objectManager.ts
  packages/debugger/src/server.ts
  packages/debugger/tsconfig.json
  packages/gateway/package.json
  packages/gateway/src/deployment.route.ts
  packages/gateway/src/index.ts
  packages/serverless/src/utils/logger/funcLog.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

feat: 调试服务支持打印js对象
  packages/common/src/events.ts
  packages/common/src/utils.ts
  packages/debugger/package.json
  packages/debugger/src/server.ts
  packages/debugger/src/utils/consoleApiCalledEvent.ts
  packages/serverless/src/debugger/domains/runtime.ts
  packages/serverless/src/debugger/index.ts
  packages/serverless/src/debugger/manager/objectManager.ts
  packages/serverless/src/debugger/utils/eventDelegate.ts
  packages/serverless/src/server.ts
  packages/serverless/src/utils/logger/funcLog.ts
  packages/serverless/src/utils/logger/index.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

refactor: 优化项目结构
  packages/debugger/package.json
  packages/debugger/tsconfig.json
  packages/gateway/package.json
  packages/gateway/src/debuggerService/index.ts
  packages/gateway/src/debuggerService/server.ts
  packages/gateway/src/debuggerService/utils/consoleApiCalledEvent.ts
  packages/gateway/src/index.ts
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

build: refactor turbo dev pipeline
  package.json
  packages/common/package.json
  packages/gateway/package.json
  packages/runtime/package.json
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore: code style
  packages/serverless/src/debugger/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

refactor: 优化打包方式，turbo 增加生产环境 start明亮
  package.json
  packages/cli/package.json
  packages/gateway/package.json
  packages/gateway/src/deployment.route.ts
  packages/serverless/package.json
  packages/serverless/src/cluster/master.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/debugger/index.ts
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

chore: expose gateway env file anyway
  .gitignore
  packages/gateway/.env
  packages/gateway/.gitignore
Due: none

refactor: 优化生产环境url判断逻辑，增加docker部署方式
  Dockerfile
  README.md
  build_deploy.sh
  docker-compose.yml
  packages/common/src/config.ts
  packages/common/src/index.ts
  packages/gateway/src/debuggerService/server.ts
  packages/gateway/src/deployment.route.ts
  packages/gateway/src/index.ts
  packages/gateway/src/prisma/index.ts
  packages/serverless/src/cluster/master.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/server.ts
  packages/serverless/src/utils/deployments.ts
  packages/website/components/devtools/index.tsx
  packages/website/components/workers/detail/playground/HttpTriggerRunner/index.tsx
  packages/website/components/workers/detail/playground/Preview/index.tsx
  packages/website/libs/fetchData.ts
  packages/website/next.config.js
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(serverless debugger): 修复serverless debugger 重复初始化redis订阅
  packages/serverless/src/debugger/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

chore: 修改website 访问调试服务ws url
  packages/website/components/devtools/index.tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

ci: add github deploy workflow
  .github/workflows/deploy.yml
Due: prettier --write

fix(docker): add dockerignore
  .dockerignore
  Dockerfile
  package.json
Due: prettier --write

fix: return type of exported function has or is using private name 'Buffer'
  .dockerignore
  Dockerfile
  packages/common/package.json
  packages/common/src/utils.ts
  scripts/docker-clean.sh
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

ci: refactor docker build push ci actions
  .github/workflows/deploy.yml
  .github/workflows/docker.yml
Due: prettier --write

fix: fix ts error
  packages/common/src/utils.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: dependency error
  .npmrc
  Dockerfile
  package.json
  packages/cli/src/cli.ts
  packages/gateway/package.json
  packages/serverless/package.json
  packages/website/package.json
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

refactor: 优化构建流程以及dockerfile，减少启动时性能消耗
  Dockerfile
  package.json
  packages/gateway/package.json
  packages/serverless/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix redis connection failed on docker enviroment
  packages/common/src/config.ts
  packages/gateway/src/debuggerService/server.ts
  packages/gateway/src/index.ts
  packages/serverless/src/cluster/master.ts
  packages/serverless/src/debugger/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: fix mysql connection error in production
  packages/gateway/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: fix prisma env not working
  .gitignore
  packages/gateway/.env.development
  packages/gateway/package.json
Due: prettier --write

fix: 修复turbo构建流程和gateway env 错误问题
  packages/gateway/.env.local
  packages/gateway/package.json
  packages/serverless/package.json
  packages/website/components/devtools/index.tsx
  packages/website/components/workers/detail/playground/HttpTriggerRunner/index.tsx
  packages/website/components/workers/detail/playground/Preview/index.tsx
  packages/website/libs/fetchData.ts
  packages/website/pages/workers/detail/playground/[id].tsx
  turbo.json
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: server bind wrong host in production
  packages/common/src/config.ts
  packages/gateway/src/index.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/server.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

Revert "fix: server bind wrong host in production"
  packages/common/src/config.ts
  packages/gateway/src/index.ts
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/server.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

chore: add getAllDeployments log
  packages/serverless/src/cluster/master.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: 修复gateway & serverless path prefix
  packages/gateway/src/index.ts
  packages/serverless/src/server.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: 修复 fastify 在docker 环境下监听失效
  packages/gateway/src/index.ts
  packages/serverless/src/server.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: 修复 monaco-editor、devtools 加载失败
  packages/website/components/devtools/index.tsx
  packages/website/components/monaco-editor/index.tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

add online preview url in readme.md
  README.md
Due: prettier --write

ci: 增加ssh 服务器直接运行最新的镜像
  .github/workflows/docker.yml
  scripts/run.mini_faas_worker.sh
Due: prettier --write

refactor(serverless): refactor serverless route config
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/routes.ts
  packages/serverless/src/server.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(serverless): fix get deployment from deploymentCache is undefined in production env
  packages/serverless/src/cluster/worker.ts
  packages/serverless/src/utils/deployments.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: run.mini_faas_worker.sh support docker volumes
  scripts/run.mini_faas_worker.sh
Due: none

feat(gateway): 修复 devtools front_end 生产环境加载失败
  packages/gateway/src/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(gateway): fix devtools front_end static serve wrong path in production env
  packages/gateway/src/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(gateway): fix debuggerService wrong path prefix in production mode
  packages/gateway/src/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(gitignore): 修复由于gitigore 配置不当导致 devtools front_end 文件缺失
  public/front_end/models/logs/logs-meta.js
  public/front_end/models/logs/logs.js
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

Path conditions:
  eslint --fix --resolve-plugins-relative-to .: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,less,js,jsx,ts,tsx,json,yml,yaml,md}
