Repository lilong7676/mini_faas_worker: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --resolve-plugins-relative-to ., prettier --write

chore: gitignore
  .gitignore
Due: none

fix(gitignore): fix public front_end file missing because of gitignore config
  .gitignore
  public/front_end/panels/coverage/coverage-legacy.js
  public/front_end/panels/coverage/coverage-meta.js
  public/front_end/panels/coverage/coverage.js
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(gateway): fix devtool_frontend static url wrong in dev
  packages/gateway/src/index.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(website): wrong url path cause getDebuggrSession failed
  packages/website/pages/workers/detail/playground/[id].tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix: chore
  packages/gateway/src/index.ts
  packages/serverless/src/cluster/master.ts
  packages/website/components/devtools/index.tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(website): fetchData error
  packages/website/libs/fetchData.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(website): nextjs runtime error caused by access window in server
  packages/website/components/devtools/index.tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(website): mixed ssr error
  packages/website/components/devtools/index.tsx
  packages/website/components/workers/detail/playground/HttpTriggerRunner/index.tsx
  packages/website/components/workers/detail/playground/Preview/index.tsx
  packages/website/pages/workers/detail/playground/[id].tsx
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(runtime): 修复返回非Response 对象时运行报错
  packages/runtime/src/bindings/fetch/Response.ts
  packages/runtime/src/isolate/index.ts
  packages/sdk/src/client.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(runtime): remove fs mock for secure reason
  packages/runtime/src/isolate/runtime.ts
  packages/runtime/src/runtime/fs.ts
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

build(runtime): refactor runtime build scripts
  package.json
  packages/runtime/build.runtime.ts
  packages/runtime/package.json
  packages/runtime/src/runtime/fetch.ts
  packages/runtime/tsconfig.json
  pnpm-lock.yaml
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(serverless): dependency error in dev
  packages/serverless/package.json
  pnpm-lock.yaml
Due: prettier --write

refactor: 优化turbo构建流程
  package.json
  packages/common/build.ts
  packages/common/package.json
  packages/runtime/build.ts
  packages/runtime/package.json
  packages/sdk/build.ts
  packages/sdk/package.json
  pnpm-lock.yaml
  turbo.json
Due: eslint --fix --resolve-plugins-relative-to ., prettier --write

fix(cli): dependency error
  packages/cli/package.json
  pnpm-lock.yaml
Due: prettier --write

Path conditions:
  eslint --fix --resolve-plugins-relative-to .: any of: *.{js,jsx,ts,tsx}
  prettier --write: any of: *.{css,less,js,jsx,ts,tsx,json,yml,yaml,md}
